* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
#menu{
    width: 100%;
    background:radial-gradient(greenyellow, white);
    padding-top: 1rem;
    position: fixed;
    height: 5rem;
}
.navbar, a {
    text-decoration: none;
    text-align: right;
    color: #606060;
    margin: 0 6rem;
    font-size: 3rem;
    transition: all;
    transition-duration: 5s;
    font-style: italic;
    font-weight: bolder;
}
li{
    display:inline-block;
}
a:hover {
    color: #a9e16c;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #8c8c8c;
    border-radius: 20px;
    padding: 0.3rem;
    background-color: #ffffff;
    text-shadow: 1px black;
}
@media screen and (max-width: 350px) {
*{
    display: none;
}
}
@media screen and (min-width: 350px) {
    .none{
        display: none;
    }
    .navbar a {
        margin: 0 0 0 0;
        font-size: 2rem;
        text-align: center;
    }
}
@media screen and (min-width: 600px) {
    .none{
        display: unset;
    }
    .navbar a {
        margin: 0 1rem;
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 768px) {
    .none {
        display: unset;
    }

    .navbar a {
        margin: 0 1rem;
        font-size: 1.8rem;
    }
}
@media screen and (min-width: 992px) {
    .none {
        display: unset;
    }

    .navbar a {
        margin: 0 2rem;
        font-size: 2rem;
    }
}
@media screen and (min-width: 1200px) {
    .none {
        display: unset;
    }

    .navbar a {
        margin: 0 2rem;
        font-size: 3rem;
    }
}
@media screen and (min-width: 1900px) {
    .none {
        display: unset;
    }

    .navbar a {
        margin: 0 5rem 0 0;
        font-size: 4rem;
    }
}